<section class="signature">
    {{#if url}}
        <a href="{{url}}" target="_blank" class="name">
            {{first_name}}
            {{last_name}}

        </a>
        {{#if age}}
            <span class="age">{{age}}</span>
        {{/if}}
    {{else}}
        <span class="name">
            {{first_name}}
            {{last_name}}
            {{#if age}}
                <span class="age">{{age}}</span>
            {{/if}}
        </span>
    {{/if}}

    {{#if city}}
        {{#unless hideCity}}
            <a href="/signatures/{{lower city}}" class="city">{{city}}</a>
        {{/unless}}
    {{/if}}

</section>